In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql

In [3]:
host_name = 'labuser39mysql.mysql.database.azure.com'
username = 'winkey'
password = 'ghwjd99**'
database_name = 'classicmodels'

In [5]:
db = pymysql.connect (
    host=host_name,
    port=3306,
    user=username,
    passwd=password,
    db=database_name,
    charset='utf8',
    ssl={"fake_flag_to_enable_tls":True}
)

In [6]:
import pandas as pd

In [11]:
SQL = 'SELECT * FROM employees'
df = pd.read_sql(SQL, db)

In [12]:
type(df)

pandas.core.frame.DataFrame

In [16]:
SQL = '''
CREATE TABLE tempTable(
  id TINYINT NOT NULL AUTO_INCREMENT,
  user_name varchar(10) NOT NULL,
  phone varchar(30) NULL,
  PRIMARY KEY(id)
)
'''
print(SQL)
cursor = db.cursor()
cursor.execute(SQL)
cursor.close()

CREATE TABLE tempTable(
  id TINYINT NOT NULL AUTO_INCREMENT,
  user_name varchar(10) NOT NULL,
  phone varchar(30) NULL,
  PRIMARY KEY(id)
)

In [19]:
SQL = "INSERT INTO tempTable(user_name,phone) VALUES('AJR', '010-1111-1111')"

cursor = db.cursor()
cursor.execute(SQL)
cursor.close()

In [20]:
SQL = 'SELECT * FROM tempTable'
df = pd.read_sql(SQL, db)
df

C:\Users\user\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id user_name          phone
0   1       AJR  010-1111-1111