In [4]:
#List
a_list = [1,2,3,4,5]

print(a_list)
print(a_list[3])
print(a_list[1])

[1, 2, 3, 4, 5]
4
2

In [7]:
#슬라이싱
print(a_list[:2])

[1, 2]

In [8]:
print(a_list[2:])

[3, 4, 5]

In [9]:
print(a_list[:])

[1, 2, 3, 4, 5]

In [12]:
print(a_list[1:2:2])

[2]

In [13]:
print(a_list[1::2])

[2, 4]

In [15]:
b = a_list[:]
b[0] = 100
print(b)

[100, 2, 3, 4, 5]

In [16]:
print(a_list)

[10, 2, 3, 4, 5]

In [28]:
b_list = []
b_list.append(1)
b_list.append(2)
b_list.append(3)

print(b_list)

[1, 2, 3]

In [31]:
b_list.insert(2, 100)

print(b_list)

[1, 2, 100, 3, 2]

In [32]:
# tuple
a_tuple = (1,2,3,4,5)

print(a_tuple)

(1, 2, 3, 4, 5)

In [33]:
a_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [35]:
a = 100
b = 200
c = b
b = a
a = c

print(a, b)

200 100

In [36]:
a, b = b, a
print(a, b)

100 200

In [38]:
# Dict
a_dic = {1:'a', 'b':[1,2,3], 'c':3}

print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3}

In [40]:
print(a_dic[1])
print(a_dic['b'])
print(a_dic['c'])

a
[1, 2, 3]
3

In [41]:
a_dic['d'] = 'Microsoft AI School'

In [42]:
print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3, 'd': 'Microsoft AI School'}

In [46]:
# Set

a_set = {1,2,3}

print(a_set)
print(type(a_set))

{1, 2, 3}
<class 'set'>

In [47]:
b_set = {3,4,5}

In [48]:
a_set.union(b_set) #합집합

{1, 2, 3, 4, 5}

In [49]:
a_set.intersection(b_set) # 교집합

{3}

In [50]:
a_set - b_set #차집합

{1, 2}

In [51]:
b_set - a_set #차집합

{4, 5}

In [52]:
a_set | b_set #합집합

{1, 2, 3, 4, 5}

In [53]:
a_set & b_set

{3}

In [55]:
#부록

a = set((1,2,3)) #set으로 감싸면 set타입으로 변환
print((type(a)))

<class 'set'>

In [56]:
b = list(a) #list타입으로 변환
print(type(b))

<class 'list'>

In [57]:
c = tuple(b) #tuple타입으로 변환
print(type(c))

<class 'tuple'>